@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --color-purple: rgb(113, 89, 193);
}

*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}
body{
    background: #282a36;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}
header{
    padding: 30px;
    border-bottom: 1px solid #333;
    background: var(--color-purple)
}
.links{
    text-align: center;
}
.links a{
    color: white;
    font-size: 18px;
    line-height: 28px;
    margin: 0 30px;
    text-decoration: none;
}
.links a:hover{
    color: var(--color-purple);
    transition: 200ms;
}

#wrapper{
    text-align: center;
    padding: 32px;
}

#wrapper img{
    border-radius: 50%;
    margin-top: 32px;
    height: 200px;
    background: rgb(113, 89, 193);
}

#wrapper h1{
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
}

#wrapper h2{
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 8px;
    opacity: 0.8;
}

#wrapper ul{
    max-width: 500px;
    margin: 32px auto;
    font-size: 24px;
    line-height: 34px;
}

#wrapper p a {
    color: var(--color-purple);
}

#links_footer a{
    border-bottom: 1px solid var(--color-purple);
}

/* MODALS */

.cards{
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 130px;
    text-align: center;
}
#starter p{
    color: rgb(113, 89, 193)
}
#launchbase p{
    color: rgb(235, 145, 29)
}
#gostack p{
    color: rgb(9, 223, 62)
}
section p{
    margin-top: 5px;
    line-height: 24px;
}


.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal-overlay.active{
    opacity: 1;
    visibility: visible;
}

.modal {
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

.modal.max{
    background-color: white;
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
}

.modal .close-modal{
    color: black;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

.modal .maximize{
    color: black;
    position: absolute;
    right: 40px;
    top: 8px;
    cursor: pointer;
}

iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 4%;
}